<!--<section  data-ng-controller="admin as vm">-->
    <!--<div class="error-page-inner" style="display: inherit;">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                    <!--<div class="text-center">-->
                        <!--<h2>Логин</h2>-->
                        <!--<div class="bg-404">-->
                            <!--<div class="error-image">-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<section id="subscribe">-->
                            <!--<div class="container">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-sm-10 col-sm-offset-1">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-sm-6 col-sm-offset-3 newsletter">-->
                                                <!--<form id="newsletter" action="data/login/checklogin.php">-->
                                                    <!--<input class="form-control input-group-add" ng-model="user.email" type="text" name="email" value="" placeholder="Login">-->
                                                    <!--&lt;!&ndash;<i class="fa fa-check"></i>&ndash;&gt;-->
                                                    <!--<input class="form-control input-group-add" ng-model="user.password" type="password" name="password" value="" placeholder="Password">-->
                                                    <!--&lt;!&ndash;<i class="fa fa-check"></i>&ndash;&gt;-->
                                                    <!--<input type="submit" ng-click="login();" class="btn btn-error" value="Login">-->
                                                <!--</form>-->
                                                <!--<p>Don't worry we will not use your email for spam</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</section>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2>Логин</h2>
            <p class="lead">Пожалуйста, введите логи и пароль.</p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form" name="contact-form" method="get" action="data/login/checklogin.php">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group">
                        <label>Логин *</label>
                        <input type="text" name="text" placeholder="Логин" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label>Пароль *</label>
                        <input type="password" name="password" placeholder="Пароль" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Войти</button>
                    </div>
                </div>
                <!--<div class="col-sm-5">-->
                    <!--<div class="form-group">-->
                        <!--<label>Subject *</label>-->
                        <!--<input type="text" name="subject" class="form-control" required="required">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label>Message *</label>-->
                        <!--<textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>-->
                    <!--</div>-->
                    <!---->
                <!--</div>-->
            </form>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->