<div ng-controller="rooms as rooms">
 <section id="about-us">
  <div class="container">

 <div class="team" ng-hide="master.isRoom">
  <div class="center wow fadeInDown">
   <h2>{{master.title}}</h2>
   <p class="lead">Наши номера под любоого отдыхающего!</p>
  </div>

  <div class="row clearfix">

   <div class="col-md-6 col-sm-6 " data-ng-repeat="room in master.data.pricing" ng-show="{{room.isShow}}">
    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
     <div class="media">
      <div class="pull-right">
       <ul class="tag clearfix">
        <li class="btn details" ng-click="details($index)"><a  href="">Подробнее</a></li>
       </ul>
       <h2 class="prize">Цена / {{room.option}}:</h2>
       <h2 class="prise">{{room.price}}</h2>
       <p></p>
      </div>
      <div class="media-body">
       <h4>{{room.name}}</h4>
      </div>
      <div class="pull-left">
       <a href="#"><img class="media-object" style="max-width: 200px;" ng-src="{{room.src_logo}}" alt=""></a>
      </div>


      <div class="media-body">
       <ul class="app_icons">
        <li ng-show="{{room.facilities[0]}}"><a href=""><i class="fa fa-wifi"></i></a></li>
        <li ng-show="{{room.facilities[1]}}"><a href=""><i class="fa fa-television"></i></a></li>
        <li ng-show="{{room.facilities[2]}}"><a href=""><i class="fa fa-bed"></i></a></li>
       </ul>
      </div>
     </div><!--/.media -->
     <p>{{room.description}}</p>
    </div>
   </div><!--/.col-lg-4 -->

  </div> <!--/.row -->
 </div><!--section-->

   <div ng-show="master.isRoom" ng-include="'app/rooms/room.html'"></div>

  </div>
  </section>
 </div>