<div class="team">
    <div class="wow fadeInDown">
        <h2>
            <ul class="portfolio-filter" style="margin: 0; margin-left: 14px;">
            <li><a class="btn btn-default active" ng-click="details()" data-filter="*"><i class="fa fa-angle-left"></i></a></a></li>
                | {{current.name}}
            </ul>
        </h2>
        <!--<p class="lead">{{current.id}}</p>-->


    </div>
    <div class="row">

            <section id="about-us2" style="padding: 30px 0;" >
                <!--id="main-slider"-->
                <div class="container">
                    <div class="col-md-8">
                        <div id="about-slider">
                            <div id="carousel-slider2" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators visible-xs">
                                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                                </ol>

                                <div class="carousel-inner">
                                    <div ng-class="{'active':$index == 0}" class="item" ng-if="image.length>0" data-ng-repeat="image in current.src_all track by $index">
                                        <img ng-src="{{image}}"  class="img-responsive">
                                    </div>
                                </div>

                                <a class="left carousel-control hidden-xs" href="/rooms#carousel-slider2" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>

                                <a class=" right carousel-control hidden-xs"href="/rooms#carousel-slider2" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>


                                <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">

                                    <!-- thumb navigation carousel items -->
                                    <ul class="list-inline smallslider">
                                        <li ng-if="image.length>0" data-ng-repeat="image in current.src_all track by $index"> <a id="carousel-selector-{{$index}}" ng-class="{'selected':$index == 0}" class="">
                                            <img src="{{image}}" style="max-width: 100px" class="img-responsive">
                                        </a></li>
                                    </ul>

                                </div>
                            </div> <!--/#carousel-slider-->
                        </div><!--/#about-slider-->


                        <h2>О Номере</h2>
                        <h3>{{current.description}}</h3>
                        <h2>Удобства</h2>
                        <div >
                            <ul class="facilities_icons">
                                <li class="col-md-6" ng-show="current.facilities[0]"><a href=""><i class="fa fa-wifi"></i></a>WI-FI</li>
                                <li class="col-md-6" ng-show="current.facilities[1]"><a href=""><i class="fa fa-television"></i></a>телевизор</li>
                                <li class="col-md-6" ng-show="current.facilities[2]"><a href=""><i class="fa fa-bed"></i></a>кровать</li>

                            </ul>
                            <!--<ul class="app_icons">-->
                                <!--<li><a href=""><i class="fa fa-wifi"></i></i></a> WI-FI</li>-->
                                <!--<li><a href=""><i class="fa fa-beer"></i></a> бесплатное пиво</li>-->
                                <!--<li><a href=""><i class="fa fa-bed"></i></a> кровать</li>-->
                            <!--</ul>-->
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="widget categories">
                            <h3>Цена за сутки:</h3>
                            <h2>{{current.price}}</h2>
                            <ul class="portfolio-filter">
                                <li><a class="btn btn-default active" ui-sref="contact" href="#" data-filter="*">Связаться <i class="fa fa-angle-right"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->



    </div>
</div>