<div ng-controller="main as main" name>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item" data-ng-class='{active:slide==1}' style="background-image: url({{'images/slider/' + slide +'.png'}})" data-ng-repeat="slide in master.slider track by $index">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <!--<img src="images/slider/img1.png" class="img-responsive">-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">

            <div class="center wow fadeInDown">
                <h2>{{master.title}}</h2>

                <p class="lead maintxt">
                    В номере VIP: 2 комнаты, двуспальная кровать, угловой раскладывающийся диван, кресло, кондиционер, журнальный столик, камин, 2 телевизора (один из них цифровой диагональю 119 см) спутниковое телевидение, двухкамерный холодильник, прихожая, ванная комната (7 кв.м). Всего 34 кв.м!

                                В номерах ЛЮКС: современная мебель, холодильник, телевизор, ортопедические матрасы, кондиционер, душ (горячая вода круглосуточно), туалет.

                                В номерах ПОЛУЛЮКС: современная мебель, холодильник, телевизор. Отдельный дворик и санузел (в корпусе) - общие на 3 номера.

                                В номерах ЭКОНОМ-класса: современная мебель, холодильник, телевизор, вентилятор, ортопедический матрас на двуспальной кровати и поролоновый (10 см) на односпальной, пластиковое окно с антимоскитной сеткой, современный туалет и душ рядом с корпусом во дворе.</p>
                <h2>{{master.why}}</h2>
                <div class="row">
                    <div class="features mainf">
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-bullhorn"></i>
                                <h2>Чистота и уют</h2>
                                <!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>-->
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-comments"></i>
                                <h2>150 метров к морю</h2>
                                <!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>-->
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-cloud-download"></i>
                                <h2>Комфортабельные номера</h2>
                                <!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>-->
                            </div>
                        </div><!--/.col-md-4-->

                    </div><!--/.services-->
                </div><!--/.row-->
                <div class="request">
                    <h4><a href="#">{{master.footQuote}}</a></h4>
                </div>
            </div>

        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="portfolio">
        <div class="container">
            <div class="center">
                <h2>Турбаза</h2>
                <!--<p class="lead">Наши номера</p>-->
            </div>


            <!--<ul class="portfolio-filter text-center">-->
                <!--<li><a class="btn btn-default active" href="#" data-filter="*">Люкс</a></li>-->
                <!--<li><a class="btn btn-default" href="#" data-filter=".bootstrap">Вип</a></li>-->
                <!--<li><a class="btn btn-default" href="#" data-filter=".html">Стандарт</a></li>-->
                <!--<li><a class="btn btn-default" href="#" data-filter=".wordpress">Эконом</a></li>-->
            <!--</ul>&lt;!&ndash;/#portfolio-filter&ndash;&gt;-->

            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item col-xs-12 col-sm-4 col-md-3" data-ng-repeat="photo in master.photos">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="{{'images/main/'+ photo +'.png'}}" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a class="preview" href="{{'images/main/'+ photo +'.png'}}" rel="prettyPhoto"><i class="fa fa-5x fa-eye"></i> Увеличить</a></h3>
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->

                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <!--<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                    <!--<div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                    <!--<div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                    <!--<div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                    <!--<div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                    <!--<div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                    <!--<div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">-->
                        <!--<div class="recent-work-wrap">-->
                            <!--<img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">-->
                            <!--<div class="overlay">-->
                                <!--<div class="recent-work-inner">-->
                                    <!--<h3><a href="#">Business theme</a></h3>-->
                                    <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                    <!--<a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->-->
</div>